body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#sketch-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 960px;
    height: 960px;
    border: 3px solid grey;
}

.grid-box {
    /* border: 5px solid black; */
}
